/coda-swap-with-node/coda-swap-smart-contract/node_modules
/coda-swap-with-node/coda-swap-smart-contract/artifacts
/coda-swap-with-node/coda-swap-smart-contract/cache
/coda-swap-with-node/webapp/node_modules

coda-swap-without-node/coda-swap-smart-contract/node_modules
coda-swap-without-node/coda-swap-smart-contract/artifacts
coda-swap-without-node/coda-swap-smart-contract/cache